body {
    background: url("/img/background.png") no-repeat fixed center;
}

.container {
    margin: 0 auto;
    width: 1050px;
    display: flex;
}

.logo-top {
    text-align: center;
    opacity: 0.3;
}

.column-left {
    width: 50%;
}

.column-right {
    width: 50%;
}